@import '../../styles/variables.scss';

.home {
  header {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%;

    .main-banner__title {
      position: absolute;
      top: 580px;
      width: 1512px;
      margin: 0 220px;

      h1 {
        font-size: 60px;
        font-weight: 00;
        color: $white;
      }

      p {
        margin-top: 20px;
        font-size: 16px;
        font-weight: 200;
        color: $white;
      }

      .main-banner__button {
        margin-top: 20px;
        width: 169px;
        height: 42px;
        background-color: $pointColor;
        border-radius: 100px;
        text-align: center;

        &:hover {
          cursor: pointer;
          background-color: inherit;
          color: $white;
          border: 2px $white solid;
        }
      }
    }
    .main-banner__image {
      width: 100vw;
      height: 980px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }
  }

  .container-beige {
    display: flex;
    flex-direction: column;
    background-color: $beige;

    .container-beige-title {
      margin: 120px 0 60px 220px;

      h2 {
        font-size: 40px;
      }
    }

    .container-beige-mv {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .container-beige-mv__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 120px;
        text-align: center;

        p {
          font-size: 20px;
          color: $darkGray;
        }
        h2 {
          margin: 20px 0 60px;
          font-size: 40px;
          color: $darkGray;
        }
      }

      .container-beige-mv__video {
        display: flex;
        justify-content: center;
        width: 1480px;
        height: 680px;
        margin-bottom: 120px;

        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .container-white {
    display: flex;
    flex-direction: column;
    background-color: $white;

    .container-white-title {
      margin: 120px 0 60px 220px;

      p {
        font-size: 20px;
        color: $darkGray;
      }

      h2 {
        margin-top: 20px;
        font-size: 40px;
        color: $darkGray;
      }
    }

    .container-white-article {
      display: flex;
      margin: 0 0 120px 220px;

      .container-white-article__img {
        margin-right: 100px;
        width: 720px;
        height: 900px;
        background-color: aquamarine;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .container-white-article__textbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 600px;
        height: 900px;

        h2 {
          margin-top: 20px;
          font-size: 40px;
          color: $darkGray;
        }

        p {
          text-align: center;
          font-size: 20px;
          color: $darkGray;
        }

        .container-white-article__button {
          margin-top: 20px;
          width: 169px;
          height: 42px;
          border: 2px $darkGray solid;
          border-radius: 100px;
          text-align: center;
          color: $darkGray;

          &:hover {
            cursor: pointer;
            background-color: $pointColor;
            border: none;
          }
        }
      }
    }
  }
}
