.searchbox {
  width: 260px;
  height: 37px;
  padding: 0px 16px;
  border: none;
  border-radius: 10px;
  background-color: #efefef;
  font-size: 15px;

  &::placeholder {
    padding-left: 25px;
    font-size: 15px;
    font-weight: 100;
  }
}
