@import '../../styles/variables.scss';

.container-beige-title__navbox {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;

  .container-beige-title__nav {
    width: 3000px;
    height: 450px;

    .container-beige-title__nav-imgbox {
      display: flex;
      flex-direction: column;
      float: left;
      margin-right: 20px;
      width: 320px;

      img {
        width: 100%;
        height: 450px;
        border-radius: 5px;
        object-fit: cover;
      }

      label {
        margin-top: 20px;
        font-size: 30px;
        color: $darkGray;
      }
    }
  }
}
