@import '../../styles/variables.scss';

.container-gray {
  background-color: $lightGray;

  .container-gray-article {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1480px;

    .container-gray-article__box {
      display: flex;
      flex-direction: column;
      width: 720px;
      margin: 120px 0;

      .container-gray-article__imgbox {
        width: 720px;
        height: 500px;
        margin-bottom: 20px;
        background-color: #222;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .container-gray-article__textbox {
        label {
          font-size: 20px;
          color: $darkGray;
        }
        h2 {
          margin: 20px 0;
          font-size: 40px;
          color: $darkGray;
        }

        .container-gray-article__button {
          margin-top: 20px;
          width: 169px;
          height: 42px;
          border: 2px $darkGray solid;
          border-radius: 100px;
          text-align: center;
          line-height: initial;
          color: $darkGray;

          &:hover {
            border: 2px $pointColor solid;
            background-color: $pointColor;
          }
        }
      }
    }
  }
}
