@import '../../styles/variables.scss';

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  width: 100%;
  height: 10vh;
  top: 0;
  z-index: 999;

  padding: 0px 220px;
  font-size: 13px;

  background-color: $white;
  border-bottom: solid $lightGray;

  font-family: 'Gothic A1', 'Lexend Deca', sans-serif;

  &__left {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 80px;

    img {
      width: 45px;
      margin-right: 20px;
      cursor: pointer;
    }

    span {
      padding: 0px 25px;
      cursor: pointer;
    }
  }

  &__right {
    img {
      width: 25px;
      cursor: pointer;
    }

    span {
      padding: 0px 10px;
    }
  }
}
