@import '../../styles/variables.scss';

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
<<<<<<< HEAD
  z-index: 1;
=======
  z-index: 999;
>>>>>>> 0be93226197c371de01ad769c8f8e22ad1aa9392

  padding: 0px 220px;
  font-size: 13px;

  background-color: $white;
  border-bottom: solid $lightGray;

  &__left {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 80px;

    img {
      width: 45px;
      margin-right: 20px;
      cursor: pointer;
    }

    span {
      padding: 0px 25px;
      cursor: pointer;
    }
  }

  &__right {
    img {
      width: 25px;
      cursor: pointer;
    }

    span {
      padding: 0px 10px;
    }
  }
}
